__pycache__
*/__pycache__

.ipynb_checkpoints
*/.ipynb_checkpoints

.idea

iris*
trainer_*

.DS_Store

testing/
immigration
immigration_small

be_great.egg-info/

../be_great.egg-info/

.venv

data/first_500k.csv
data/full.csv
data/cutoff.csv
data/random.csv

immigration_samples.csv